
@import "~bootstrap/dist/css/bootstrap.css";



@font-face{
    font-family: roboto;
    src: url(assets/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');

}
.roboto{
    font-family: roboto;
}
