
<app-header></app-header>



<!--Highlights-->



<section class="section-plans" id="section-plans">
  <div class="heading-with-image">
    <h2>Highlights</h2>
    <img src="assets/arrow.gif" width="50px"  style="margin-top: 10px;" alt="Animated GIF">
  </div><br><br>

<div class="blog-slider5" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">   


  <!--Social activities section-->
  <div class="scroll-container">
    <div class="card-container" id="card-container">
      
        <div class="card" data-id="1">
            <div class="video-container">
                <iframe width="270" height="180" src="https://www.youtube.com/embed/WtddJJKoGP8" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2>ZigoFiltre X Enactus Tunisia</h2>
            <p>Card description goes here.</p>
        </div>
        <div class="card" data-id="2">
            <div class="video-container">
                <iframe width="270" height="180" src="https://www.youtube.com/embed/swvnLDVyWiI" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2>GDG Sousse</h2>
            <p>Card description goes here.</p>
        </div>

        <div class="card" data-id="3">
            <div class="video-container">
                <iframe width="270" height="180" src="https://www.youtube.com/embed/06itekcCZOw" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2>ESEN Android Club</h2>
            <p>Card description goes here.</p>
        </div>
        <div class="card" data-id="4">
            <div class="video-container">
                <iframe width="270" height="180" src="https://www.youtube.com/embed/dtvVGfqBXSQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2>AIESEC X TI 3léh</h2>
            <p>Card description goes here.</p>
        </div>
     
        <!-- Add more cards with different video URLs -->
    </div>
</div>
      </div>
    </section>





<!--Clubs-->

<section class="section-plans" id="section-plans">
  <div class="heading-with-image">
  <h2>Clubs</h2>
  <img src="assets/arrow.gif" width="50px" style="margin-top: 10px;" alt="Animated GIF">
</div><br><br>



<div class="blog-slider5" data-aos="fade-down" data-aos-duration="600" data-aos-easing="ease-in-sine">
  <div class="row">
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front-1">
          <div class="card__title card__title--1">


    <div class="rounded-image">
      <img src="assets/images/imc.png" alt="Your Image Alt Text">
    </div>
          
          </div>

          <div class="card__details">
            <ul>
              <li><h5> Microsoft Club</h5></li>
              
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <p>A vibrant and inclusive club offering a diverse range of social and recreational activities, fostering connections, and creating memorable experiences for members and guests alike.</p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front-1">
          <div class="card__title card__title--2">
            <div class="rounded-image">
      <img src="/assets/images/androidESEN.png" alt="Your Image Alt Text">
    </div>
            
            
          </div>

          <div class="card__details">
            <ul>
              <li><h5>Android Club</h5></li>
      
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <p>A vibrant and inclusive club offering a diverse range of social and recreational activities, fostering connections, and creating memorable experiences for members and guests alike.</p>
     
          </div>
        </div>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front-1">
          <div class="card__title card__title--3">
            <div class="rounded-image">
      <img src="/assets/images/enactusZAGH.jpg" alt="Your Image Alt Text">
    </div>
            
            
          </div>

          <div class="card__details">
            <ul>
              <li><h5>Enactus </h5></li>
           
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          
          <div class="card__cta">
            <p>A vibrant and inclusive club offering a diverse range of social and recreational activities, fostering connections, and creating memorable experiences for members and guests alike.</p>
            
          </div>
        </div>
      </div>
    </div>


    
      
    
    
  </div>
  
</div>



</section>
